body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;
	font-weight: 300;
	word-wrap: break-word;
}

h6{
	font-size: 22px;
}
h1 {
	font-weight: 700;
}

h1 strong {
	font-weight: 800;
}

#phonenavlinks, #container {
	display: none;
}

#home {
  position: fixed;
  z-index: 85;
  top: 5px;
  left: 5px;
  transition-duration: 0.2s;
  list-style-type: none;
}

#home img {
  width: 110px;
}

#home:hover {
	transform: rotate(360deg);
	list-style-type: none;
}

#navbar {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 55;
	display:none;
}

.navig {
	float: left;
	list-style-type: none;
	padding: 14px 30px;
	border-radius: 20px;
	margin: 10px;
}

.navig a {
	font-size: 23px;
	color: #212664;
	text-decoration: none;
	transition-duration: 0.2s;
}

.navig:hover a {
	color: #30CFD0;
}

#menubar {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 70;
	font-size: 28px;
	font-weight: 700;
	color: #999;
	transition-duration: 0.2s;
	padding: 10px 50px 10px 20px;
	border-radius: 30px;
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 230% 100%;
	background-position: right;
	color: white;

}

.bar11, .bar22 {
	background-color: white;
	height: 3px;
	width: 20px;
	position: fixed;
	z-index: 70;
	transition-duration: 0.2s;
}

.bar11 {
	top: 32px;
	left: 125px;
}

.bar22 {
	top: 42px;
	left: 125px;
}

#menubar:hover {
	background-position: left;
	cursor: pointer;
}

#menubar:hover .bar11 {
	top: 33px;
}

#menubar:hover .bar22 {
	top: 41px;
}

.sidebar {
	height: 100vh;
	width: 400px;
	background: linear-gradient(135deg, #30CFD0, #330867);
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
	position: fixed;
	top: 0;
	left: -400px;
	padding: 70px 40px;
	z-index: 99;
	transition-duration: 0.3s;
	opacity: 0.5;
}

.sidecancel {
	position: fixed;
	top: 20px;
	left: -60px;
	z-index: 99;
	transition-duration: 0.3s;
	font-size: 30px;
	color: white;
}

.sidecancel:hover {
	cursor: pointer;
}

.sidebar a {
	color: white;
	font-weight: 700;
	display: block;
	transition-duration: 0.2s;
}

.sidebar a:hover {
	transform: scale(1.02);
	text-decoration: none;
}

.sidebar .border-bot {
	height: 4px;
	background-color: white;
	width: 10%;
}

#mainlinks {
	padding-bottom: 10px;
}

#mainlinks a {
	font-size: 30px;
	margin-bottom: 20px;
}

#seclinks {
	padding: 20px 0px;
}

#seclinks a {
	font-size: 24px;
	margin-bottom: 17px;
}

.socialmedia {
	position: fixed;
	bottom: 50px;
	left: -360px;
	transition-duration: 0.3s;
}

.socialmedia a {
	font-size: 40px;
	display: inline;
	margin: 0px 20px;
}

.sidemask {
	height: 100vh;
	width: 0%;
	background-color: #444;
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 70;
	transition-duration: 0.05s;
}
/*Index*/

#indexhead {
	padding: 120px 10% 200px 10%;
	text-align: center;
}

#indeximg {
	width: 150px;
	margin-bottom: 20px;
}

#indexhead h1 {
	font-size: 85px;
	color: #222;
	margin-bottom: 25px;
}

#indexhead h1 strong {
	background: linear-gradient(135deg, #30CFD0, #330867);
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#indexhead a {
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 230% 100%;
	background-position: right;
	font-weight: 700;
	color: white;
	padding: 15px 50px;
	border-radius: 30px;
	font-size: 26px;
	transition-duration: 0.2s;
}

#indexhead a:hover {
	background-position: left;
	text-decoration: none;
	cursor: pointer;
}

#indexhead a i {
	transform: translateX(-80px);
	opacity: 0;
	transition-duration: 0.1s;
}

#indexhead a:hover i {
	transform: translateX(0px);
	opacity: 1;
}

#indexhead p {
	font-size: 30px;
	color: #555;
	margin: 10px 0px;
	padding-bottom: 30px;
}

#indexhead li {
	font-size: 26px;
	margin: 10px 0px;
	color: #555;
}

#indexhead .row {
	margin-bottom: 35px;
}

#bookasession {
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	border-radius: 30px;
	transition-duration: 0.2s;
}

#bookasession a {
	font-weight: 700;
	color: white;
}

#bookasession:hover {
	background-position: left;
}

#indexlogout {
	background: linear-gradient(to left, #330867, #30CFD0);
	background-size: 120% 100%;
	background-position: right;
	border-radius: 30px;
	transition-duration: 0.2s;
	display: none;
	position: relative;
	z-index: 4;
	transform: scale(1);
}

#indexlogout a {
	color: white;
	font-weight: 700;
}

#indexlogout:hover {
	background-position: left;
	cursor: pointer;
}

#info {
	background: linear-gradient(black, #333);
	overflow-y: hidden;
	padding: 120px 10% 480px 10%;
	color: white;
  	position: relative;
  	z-index: 40;
}

canvas {
	position: absolute;
  	display: block;
  	top: 0;
  	left: 0;  
	z-index: 30;
}

#infotext {
	position: absolute;
	top: 100px;
	left: 10%;
	right: 10%;
	z-index: 40;
}

#infotext h1 {
	font-size: 45px;
	padding-bottom: 15px;
	color: #30CFD0;
	width: 39%;
}

#info .border-bot {
	background: linear-gradient(135deg, #30CFD0, #330867);
}

#team {
	padding: 0;
}

#mission {
	font-weight: 700;
	font-size: 26px;
}

.border-bot {
	height: 2px;
	width: 0;
}

#infotext p {
	padding: 20px 0px;
	font-size: 24px;
}

#infotext .row {
	padding: 30px 0px;
}

#infotext a {
	font-size: 24px;
	padding: 15px 20px;
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	border-radius: 30px;
	color: white;
	transition-duration: 0.2s;
	font-weight: 700;
}

#infotext a:hover {
	background-position: left;
	text-decoration: none;
}

#infotext a i {
	transform: translateX(-80px);
	opacity: 0;
	transition-duration: 0.1s;
}

#infotext a:hover i {
	transform: translateX(0px);
	opacity: 1;
}

#infomask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #212664;
	color: white;
	opacity: 0.4;
}

#mission p {
	font-size: 30px;
}

#howitworks {
	padding: 80px 10% 110px 10%;
	background: linear-gradient(84deg, white 50%, #eee 50%);
	background-size: 160% 100%;
}

#howitworks ol {
	padding: 20px 2%;
}

#howitworks li {
	font-size: 24px;
	color: #555;
	padding: 15px 0px;
}

#howitworks h1 {
	color: #444;
	padding: 10px 0px;
	font-size: 40px;
}

#howitworks #tutorialvideo {
	width: 100%;
	height: 400px;
	margin-top: 40px;
	border-radius: 20px;
	overflow: hidden;
}

#howitworks iframe {
	height: 400px;
	width: 100%;
	border: 0;
}

#howitworks #getstarted {
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 230% 100%;
	background-position: right;
	font-weight: 700;
	color: white;
	padding: 15px 50px;
	border-radius: 30px;
	font-size: 26px;
	transition-duration: 0.2s;
}

#howitworks #getstarted:hover {
	background-position: left;
	text-decoration: none;
}

#howitworks a i {
	transform: translateX(-80px);
	opacity: 0;
	transition-duration: 0.1s;
}

#howitworks a:hover i {
	transform: translateX(0px);
	opacity: 1;
}

#contact {
	margin-top: -60px;
	background: linear-gradient(-84deg, white 50%, #eee 50%);
	background-size: 165% 100%;
	background-position: 80%;
	padding: 120px 30% 70px 10%;
	color: #444;
}

#contact h1 {
	font-size: 45px;
	color: #444;
}

#contact h1 strong {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#contact h4 {
	font-size: 25px;
	padding: 15px 0px;
}

#contact h4 a {
	color: #212664;
	transition-duration: 0.2s;
}

#contact h4 a:hover {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

#contactsocial .fab {
	margin: 10px 20px;
	color: #333; 
	font-size: 50px;
	transition-duration: 0.2s;
}

#contactsocial .fab:hover {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

#contact h3 {
	font-size: 28px;
}

#contactForm {
	font-size: 22px;
}

#contact .row {
	padding: 10px 0px 30px 0px;
}

#contact input {
	width: 100%;
	outline: 0;
	border: 1px solid #ccc;
	transition-duration: 0.2s;
	border-radius: 10px;
	padding-left: 4px;
}

#contact input:focus {
	border: 2px solid #30CFD0;
}

#msg:focus {
	border: 2px solid #30CFD0;
}

#msg {
	width: 100%;
	border-radius: 10px;
	outline: 0;
	border: 1px solid #ccc;
	resize: none;
	padding-bottom: 120px;
}

#contact #submit {
	margin: 30px 0px;
}

#ewf_subscriptionForm_crPzTSqBNl {
		          padding: 70px 10%;
		          background: linear-gradient(to right, black, #212664); 
		        }
		        #ewf_subscriptionForm_crPzTSqBNl h4 {
		          text-align:center;
		          color: white;
		          font-size: 30px;
		          padding-bottom:20px;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl p {
		          color: white;
		          font-size:18px;
		          padding-bottom:20px;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl .inputs input {
		          font-size: 18px;
		          display: block;
		          box-sizing: border-box;
		          width: 70%;
		          margin-left: 15%;
		          padding: 8px;
		          border-radius: 10px;
		          color: #666;
		          background: white;
		          transition-duration: 0.2s;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl .inputs input:focus {
		          box-shadow: 2px 2px 5px #aaa;
		          width: 80%;
		          margin-left: 10%;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl .inputs {
		          border-radius: 6px;
		          margin-bottom: 15px;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl input[type="submit"] {
		          padding: 10px 40px;
		          font-size: 22px;
		          color: white;
		          background-color: transparent;
		          margin: 20px auto;
		          display: block;
		          border-radius: 30px;
		          transition-duration: 0.2s;
		        }
		        #ewf_subscriptionForm_crPzTSqBNl input[type="submit"]:hover {
		        	background-color: #30CFD0;
		        }

#faq {
	padding: 130px 10% 130px 10%;
	margin-top: -60px;
	background: linear-gradient(135deg, #30CFD0, #212664, #330867);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	transition-duration: 0.6s;
	overflow-y: hidden;
	-webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
  	clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
  	color: white;
}

#faq h1 {
	font-size: 40px;
	padding: 10px 0px;
}

.faqsec {
	padding: 20px 0px;
}

.faqsec a {
	color: #30CFD0;
	text-decoration: none;
}

.question {
	font-size: 28px;
	padding: 10px 0px;
	transition-duration: 0.2s;
}

.answer {
	font-size: 25px;
	padding-left: 45px;
}

#plus {
	display: none;
}

/*Apply*/

#applyhead {
	padding: 110px 10% 80px 10%;
	background: linear-gradient(-54deg, black 50%, #333 50%);
	color: white;
}

#applyhead h1 {
	font-size: 50px;
}

#applyhead h1 strong {
	color: #c9feff;
}

#applyhead h3 a {
	color: #c9feff;
}

#applyhead h3 {
	font-size: 25px;
	padding: 10px;
}

#applybody {
	background: linear-gradient(36deg, #999 50%, #eee 50%);
	margin: 0px;
}

#applyform {
	margin: 0px 10% 0px 10%;
	padding: 10px 5% 60px 5%;
	background-color: white;
	margin-top: -60px;
	border-radius: 20px 20px 0px 0px;
}

#applyform h3 {
	font-size: 26px;
	color: #555;
	padding-top: 30px;
}

#applyform .row {
	padding: 20px 0px;
	margin-left: 2%;
	font-size: 20px;
}

#applyform .row input {
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	transition-duration: 0.2s;
	outline: 0;
}

#applyform .row input:focus {
	border-bottom: 2px solid #30CFD0;
}

#applyform .row p {
	float: left;
}

#applyform .row #applysubjects {
	width: 68%;
	float: left;
	margin-right: 1%;
}

#applysubjectclear {
	margin: 0px 1%;
	font-size: 23px;
}

#applyform .dropdown {
	float: left;
	display: inline;
	margin-left: 72%;
	width: 18%;
	margin-top: -30px;
}

#applysubjectclear:hover {
	color: red;
	cursor: pointer;
}

#applysubjectmenu .dropdown-item {
	display: block;
	padding: 5px 30px 5px 10px;
	font-size: 18px;
	color: #444;
	transition-duration: 0.1s;
}

#applysubjectmenu .dropdown-item:hover {
	cursor: pointer;
	background-color: #eee;
	text-decoration: none;
}

#applyform textarea {
	width: 90%;
	border: 1px solid #ccc;
	outline: 0;
	height: 120px;
	border-radius: 5px;
}

#applyform textarea:focus {
	border: 2px solid #30CFD0;
}

#applyerrors {
	font-size: 20px;
}

.row #submitapp {
	margin: 0px 0px;
}

#submitapp:hover {
	background-position: left;
}

/*About */
#abouthead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	padding: 100px 8% 80px 8%;
}

#aboutheadimg {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(to right, black, #212664);
	opacity: 0.94;
}

#abouthead h3 {
	font-size: 23px;
	color: #c9feff;
}

#abouthead h1 {
	font-size: 50px;
	color: white;
}

#abouthead h1 strong {
	color: #c9feff;
}

#aboutbody {
	background: linear-gradient(-84deg, white 50%, #eee 50%);
	background-size: 160% 100%;
	background-position: 60%;
	margin-top: 380px;
	padding: 60px 8% 110px 8%;
}

#aboutbody h4 {
	font-size: 35px;
	color: #444;
	font-weight: 700;
}

#aboutbody p {
	font-size: 20px;
	padding: 40px 0px;
	line-height: 40px;
}

#aboutbody .col-sm-3 .fas {
	font-size: 140px;
	color: #30CFD0;
	text-align: center;
	margin: auto;
	display: block;
}

#aboutbody .col-sm-9 .fas {
	display: none;
}

/*Session*/

#mainbody {
	display: none;
	background: linear-gradient(60deg, #eee 50%, #bbb 50%);
	background-attachment: fixed;
}

#bookheader {
	width: 100%;
	padding: 130px 10% 110px 10%;
	text-align: center;
	color: white;
	background: linear-gradient(60deg, #222 50%, #212664 50%);
	background-size: 120%;
	background-position: left;
	overflow-y: hidden;
	background-attachment: fixed;
}

/*Team*/
#teamhead {
	padding: 120px 20% 170px 12%;
	color: white;
	position: absolute;
	margin: auto;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
}

#teamhead h1 {
	font-size: 60px;
}

#teamhead p {
	font-size: 35px;
	padding: 15px 0px;
}

#teamheadimg {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
}

#teamheadimg img {
	width: 100%;
	height: 600px;
}

#tutorapply {
		position: fixed;
		z-index: 91;
		right: 5px;
		top: 5px;
		font-size: 24px;
		padding: 15px 20px;
		background: linear-gradient(to right, #330867, #30CFD0);
		background-size: 200% 100%;
		background-position: right;
		border-radius: 30px;
		color: white;
		transition-duration: 0.2s;
		font-weight: 700;
}

#tutorapply:hover {
	background-position: left;
	text-decoration: none;
}

#biomask {
	background-color: #222;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.8;
	z-index: 95;
	position: fixed;
	display: none; 
}

#biopopup {
	position: fixed;
	z-index: 99;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0px auto;
	background-color: white;
	padding: 70px 70px 90px 70px;
	width: 60%;
	display: none;
	border-radius: 30px;
}

#bioname {
	font-size: 45px;
	color: #444;
}

#biosubjects {
	font-size: 25px;
	color: #30CFD0;
}

#biobio {
	font-size: 18px;
	color: #666;
}

#biox {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 25px;
	color: #555;
}

#biox:hover {
	color: #30CFD0;
	text-decoration: none;
	cursor: pointer;
}

.col4 {
	width: 33%;
	padding: 10px 3%;
	float: left;
	height: 520px;
	background-color: white;
}

.tutor {
	text-align: center;
	transition-duration: 0.2s;
}

.tutor:hover {
	cursor: pointer;
}

.tutor:hover img {
	opacity: 0.8;
	transform: scale(1.02);
}

.leader img, .tutor img {
	width: 100%;
	transition-duration: 0.2s;
	border-radius: 100%;
}

.leader h3, .tutor h3 {
	font-size: 30px;
	text-align: center;
}

.tutor h3 {
	padding-bottom: 10px;
}

.leader h5 {
	font-size: 24px;
	color: #330867;
}

.leader h6 {
	font-size: 18px;
	color: #777;
}

#tutors {
	padding: 70px 8% 30px 8%;
	margin: 320px 8% 40px 8%;
	width: 84%;
	float: left;
	position: relative;
	z-index: 10;
	border-radius: 20px;
	background-color: white;
}

#tutors h4 {
	font-size: 40px;
}

#tutors h4 strong {
	color: #212664;
}

.label {
	border-radius: 20px;
	padding: 6px 15px;
	font-size: 16px;
	line-height: 42px;
}

.math {
	border: 2px solid #b63f36;
	color: #b63f36;
}

.physics {
	border: 2px solid #5e92d8;
	color: #5e92d8;
}

.bio {
	border: 2px solid #5ed876;
	color: #5ed876;
}

.biology {
	border: 2px solid #5ed876;
	color: #5ed876;
}

.chem {
	border: 2px solid #3bffdd;
	color: #3bffdd;
}

.chemistry {
	border: 2px solid #3bffdd;
	color: #3bffdd;
}

.writing {
	border: 2px solid gold;
	color: gold;
}

.web {
	border: 2px solid #af46b3;
	color: #af46b3;
}

.webdev {
	border: 2px solid #af46b3;
	color: #af46b3;
}

.java {
	border: 2px solid #f983c3;
	color: #f983c3;
}

.python {
	border: 2px solid #306998;
	color: #306998;
}

.business {
	border: 2px solid #10174f;
	color: #10174f;
}

.history {
	border: 2px solid #274f32;
	color: #274f32;
}

.spanish {
	border: 2px solid salmon;
	color: salmon;
}

.french {
	border: 2px solid #7d7dd0;
	color: #7d7dd0;
}

.chinese {
	border: 2px solid #ff4f3b;
	color: #ff4f3b;
}

.back2top {
	text-align: center;
	display: block;
	margin: auto;
	font-size: 50px;
	margin-bottom: 20px;
	padding: 10px 0px;
	color: #444;
	transition-duration: 0.2s;
}

.back2top:hover {
	color: #30CFD0;
}


#filter {
	padding-bottom: 30px;
}

#filter span {
	font-size: 20px;
	margin: 0px 10px;
}

#filter button {
	font-size: 20px;
}

#filter .dropdown-menu {
	margin-left: 175px;
}

#filter .dropdown-item {
	display: block;
	padding: 5px 30px 5px 10px;
	font-size: 18px;
	color: #444;
	transition-duration: 0.1s;
}

#filter .dropdown-item:hover {
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#bookheader h1 {
	font-size: 60px;
}

#bookheader h3 {
	font-size: 30px;
}

#bookform {
	margin: -70px 10% 40px 10%;
	background-color: white;
	padding: 50px 5% 10px 5%;
	border-radius: 20px;
}

#bookform .infobtn {
	font-size: 25px;
	color: #777;
	background-color: white;
	outline: 0;
	border: 0;
	transition-duration: 0.2s;
}

#bookform .infobtn:hover {
	color: #999;
}

#bookform .row {
	padding-bottom: 30px;
}

#bookform .col-sm-3 {
	font-size: 22px;
	color: #555;
}

#bookform .col-sm-9 input {
	width: 100%;
	font-size: 21px;
	border: 0px;
	border-bottom: 1px solid #555;
	outline: 0;
	transition-duration: 0.2s;
}

#bookform .col-sm-9 input:focus {
	border-bottom: 3px solid #30CFD0;
}

#bookform .col-sm-9 #subject {
	width: 72%;
	float: left;
}

#bookform .col-sm-9 #subjectclear {
	float: left;
	width: 4%;
	text-align: center;
	font-size: 23px;
}

#subjectfielderror {
	text-align: center;
	color: red;
	font-size: 18px;
	float: left;
	margin-left: 3%;
}

#bookform .col-sm-9 #subjectclear:hover {
	color: red;
	cursor: pointer;
}

#bookform .col-sm-9 #time {
	outline: 0;
	border-radius: 0;
}

#bookform .col-sm-9 .input-group {
	outline: 0;
}

.col-sm-9 .dropdown {
	float: left;
	width: 24%;
}

#subjectselector2 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-top: -5px;
}

.col-sm-9 .dropdown {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

.col-sm-9 .dropdown-menu {
	width: 90%;
}

.col-sm-9 .dropdown-item {
	display: block;
	width: 100%;
	color: #444;
	padding: 4px 5px;
	font-size: 18px;
	transition-duration: 0.2s;
}

.col-sm-9 .dropdown-item:hover {
	background-color: #ddd;
	cursor: pointer;
	text-decoration: none;
}

#bookform .col-sm-9 #tutor {
	width: 76%;
	float: left
}

#timingoptions label {
	font-weight: 300;
	font-size: 18px;
	padding-left: 10px;
}

#numberofsessions {
	font-size: 18px;
	color: #444;
	text-align: right;
	display: none;
}

#timingcount {
	font-size: 18px;
	display: none;
}

#viewtutors {
	width: 24%;
	float: left;
	text-align: center;
	font-size: 18px;
	margin-top: -5px;
	padding: 6px 0px;
	border-radius: 5px;
	color: white;
	background-color: #330867;
	transition-duration: 0.2s;
}

#viewtutors:hover {
	background-color: #30CFD0;
	cursor: pointer;
	text-decoration: none;
}

.viewtutor {
	display: inline-block;
	padding-left: 30px;
	padding: 20px 30px;
	overflow-x: auto;
	width: 450px;
	transition-duration: 0.2s;
	white-space: normal;
	height: 390px;
}

.viewtutor p {
	padding-top: 15px;
	width: 100%;
	font-size: 14px;
}

.viewtutor:hover {
	background-color: #eee;
	cursor: pointer;
}

.viewtutor h2 {
	font-size: 24px;
}

.viewtutor h4 {
	font-size: 18px;
}

#submit, #submitapp {
	font-weight: 700;
	padding: 13px 60px;
	font-size: 23px;
	margin: 20px auto 20px auto;
	display: block;
	width: 35%;
	text-align: center;
	color: white;
	border: 0;
	outline: 0;
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	border-radius: 30px;
	transition-duration: 0.2s;
	text-decoration: none;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#formerrors {
	padding-top: 10px;
	color: red;
	font-size: 18px;
}

#submit:hover {
	background-position: left;
	text-decoration: none;
	cursor: pointer;
}

#footer {
	width: 100%;
	padding: 30px 10% 30px 10%; 
	background-color: #333;
}

#footer img {
	width: 25%;
	margin-top: 20px;
}

#footer h3 {
	color: white;
	font-size: 25px;
	font-weight: 700;
}

#footer a {
	display: block;
	margin: 10px 0px;
	font-size: 18px;
	color: #cff1f5;
	transition-duration: 0.2s;
}

#footer a:hover {
	color: #30CFD0;
	cursor: pointer;
	text-decoration: none;
}

#foot {
	width: 100%;
	padding: 6px 0px;
	margin: 0;
	background-color: #222;
}

#foot span {
	font-size: 16px;
	color: #ddd;
	float: right;
	margin-right: 20px;
}

#foot a {
	font-size: 16px;
	float: right;
	margin-right: 20px;
}

/*Donate */
#donatebody {
	padding: 100px 10% 400px 10%;
	background: url('images/tutoring.jpg');
	background-size: 100%;
	position: relative;
}

#donatemask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(black, #330867);
	opacity: 0.8;
	z-index: 6;
}

#donateform {
	position: absolute;
	top: 100px;
	left: 10%;
	z-index: 15;
}

#donateform h1 {
	font-size: 50px;
	color: white;
}

#donateform h3 {
	color: white;
	font-size: 27px;
	padding-bottom: 30px;
}

#paypal, #gofundme {
	padding: 30px 40px;
	border-radius: 50px;
	margin: 0px 20px;
	transition-duration: 0.2s;
}

#paypal:hover {
	background-color: #eda63c;
}

#paypal {
	background-color: gold;
}

#gofundme:hover {
	background-color: #ccc;
}

#gofundme {
	background-color: #eee;
}

#paypal img, #gofundme img {
	width: 150px;
}

/*Confirmed*/
#confirmedbody {
	padding: 100px 15%;
	display: none;
}

#confirmedbody h1 {
	font-size: 54px;
	background: linear-gradient(135deg, #30CFD0, #330867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#confirmedbody h3 {
	font-size: 32px;
	color: #555;
}

#confirmedbody a {
	padding: 13px 60px;
	font-size: 23px;
	margin: 20px 0px;
	color: white;
	background: linear-gradient(to right, #330867, #30CFD0);
	  background-size: 200% 100%;
	  background-position: right;
	border-radius: 30px;
	transition-duration: 0.2s;
}

#confirmedbody a:hover {
	background-position: left;
	text-decoration: none;
}

/*Leadership */
#leadershead {
	padding: 100px 10% 80px 12%;
	background: linear-gradient(to right, black, #576b8a, #330867);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	color: white;
}

#leadershead h1 {
	font-size: 60px;
}

#leadershead h3 {
	font-size: 28px;
}

#leadersbody {
	background-color: #ddd;
	padding-top: 50px;
}

#software, #marketing {
	margin: 0px 8% 0px 8%;
	padding: 40px 8%;
	position: relative;
	z-index: 40;
	background-color: white;
}

#software {
	margin-top: -100px;
	border-radius: 20px 20px 0px 0px;
}

#software h4, #marketing h4 {
	font-size: 40px;
	color: #444;
	font-weight: 700;
}

#software .row, #marketing .row {
	padding-top: 30px;
}

.leader {
	text-align: center;
	padding: 0px 30px;
}

/*Login*/
.main-div, .create-div {
  width: 34%;
  margin: 0px auto;
  margin-top: 70px;
  padding: 20px;
  display: none;
}

.google-button {
  height: 52px;
  border-width: 0;
  background: white;
  color: #737373;
  margin: auto;
  padding: 0px 10px;
  width: 100%;
  display: block;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-duration: 0.15s;
  padding: 0;
}

.google-button:hover {
	background: #eee;
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0 10px 10px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 18px;
  font-weight: bold;
}

#loading {
	width: 30%;
	position: fixed;
	top: 20%;
	margin: 0 auto;
	left: 0;
	right: 0;
	transition-duration: 0.2s;
}

/*#fbButton {
	background-color: #3B5998;
	color: white;
	padding: 8px 14px;
	border-radius: 5px;
	margin: 10px auto;
	display: none;
	font-size: 18px;
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
	transition-duration: 0.2s;
}

#fbButton .fab {
	font-size: 24px;
	margin: 0px 5px;
}

#fbButton:hover {
	background-color: #6885c0;
}

#fberrordiv {
	margin: 200px 25%;
	display: none;
}

#fberrordiv h3 {
	font-size: 35px;
	font-weight: 700;
}

#fberrordiv p {
	color: red;
	font-size: 20px;
	margin-bottom: 30px;
}

#fberrordiv p a {
	color: salmon;
}

#fberrordiv #tryagain {
	padding: 13px 60px;
	font-size: 23px;
	margin: 20px 0px;
	color: white;
	background: linear-gradient(to right, #330867, #30CFD0);
	  background-size: 200% 100%;
	  background-position: right;
	border-radius: 30px;
	transition-duration: 0.2s;
}

#fberrordiv #tryagain:hover {
	background-position: left;
	text-decoration: none;
}*/


.main-div {
	margin-top: 100px;
}

.main-div h3, .create-div h3 {
	font-size: 32px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: 700;
	color: #333;
}

#termstext {
	font-size: 17px;
	margin: 20px 0px;
}

#iagree {
	margin-left: 24px;
	margin-top: -30px;
}

#termstext a:hover {
	cursor: pointer;
	color: #dc5c0f;
}

.main-div h4 {
	font-size: 22px;
	padding-top: 15px;
	line-height: 35px;
}

.main-div h4 a {
	color: #330867;
	transition-duration: 0.2s;
}

.main-div h4 a:hover {
	color: #30CFD0;
	text-decoration: none;
	cursor: pointer;
}

#loginor {
	font-size: 25px;
	text-align: center;
	margin: 15px 0px;
}

#terms {
	margin: 80px 10%;
	padding: 70px 8%;
	position: relative;
	z-index: 40;
	background-color: white;
	border-radius: 30px;
}

#terms h4 {
	font-size: 40px;
	padding: 20px 0px;
}

#terms p {
	font-size: 18px;
	line-height: 27px;
}

.main-div input, .create-div input {
  display: block;
  font-size: 22px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #777;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 13px;
  transition-duration: 0.2s;
}

.main-div input:focus {
  border-bottom: 3px solid #30CFD0;
}

.create-div input:focus {
	border-bottom: 3px solid #30CFD0;
}

#errormessage, #errormessage2, #formStatus {
	color: #c90000;
	font-size: 20px;
	padding-bottom: 20px;
}

.main-div a {
	font-size: 22px;
	color: #330867;
	text-decoration: none;
	transition-duration: 0.2s;
}

.main-div a:hover {
	color: #30CFD0;
	cursor: pointer;
}

#login, #create {
  background: linear-gradient(to right, #330867, #30CFD0);
  background-size: 200% 100%;
  background-position: right;
  border-radius: 30px;
  padding: 12px;
  display: block;
  font-size: 22px;
  width: 100%;
  transition-duration: 0.2s;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

#login:hover {
 	background-position: left;
  cursor: pointer;
  text-decoration: none;
}

#create:hover {
	background-position: left;
  cursor: pointer;
  text-decoration: none;
}

.create-div {
	display: none;
}

#tutorsessions {
	display: none;
	background-color: #ddd;
}

#tutorsessionshead {
	padding: 140px 10% 90px 10%;
	background: linear-gradient(to left, #212664, #330867);
	color: white;
}

#tutorsessionshead h1 {
	font-size: 60px;
	text-align: center;
}

#tutorsessionsbody {
	padding: 0px 10% 50px 10%;
	margin-top: -50px;
}

#tutormysessions {
	background-color: #ddd;
	display: none;
}

#tutorallquestions {
	display: none;
	background-color: #ddd;
}

#tutorquestionhead {
	padding: 120px 10% 90px 10%;
	background: linear-gradient(to right, #212664, #330867);
	text-align: center;
	color: white;
}

#tutorquestionhead h1 {
	font-size: 60px;
}

#tutorquestionhead h3 {
	font-size: 30px;
}

#tutorquestionbody {
	padding: 10px 3% 50px 3%;
	margin: -50px 10% 0px 10%;
	background-color: white;
	border-radius: 30px 30px 0px 0px;
}

#tutormysessions h1 {
	background-color: #212664;
	padding: 140px 10% 110px 10%;
	color: white;
	font-size: 60px;
	text-align: center;
}

#tutoraccount {
	padding: 40px 3% 70px 3%;
	margin: -50px 9% 0px 9%;
	background-color: white;
	border-radius: 20px 20px 0px 0px;
}

#tutoraccount h3 {
	font-size: 30px;
	color: #444;
	padding-bottom: 20px;
}

#editbio {
	float: right;
	margin-top: -70px;
	font-size: 30px;
	color: #444;
	transition-duration: 0.2s;
}

#editbio:hover {
	cursor: pointer;
	color: #30CFD0;
}

#tutoruser {
	font-size: 24px;
	color: #30CFD0;
	margin: -10px 0px 20px 0px;
}

#tutorrating {
	font-size: 25px;
	margin-left: 20px;
	padding-bottom: 20px;
}

#tutorrating .fas {
	color: gold;
}

#tutorbio {
	width: 100%;
	font-size: 18px;
	height: 200px;
	outline: 0;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

#bioerror {
	font-size: 17px;
	color: red;
	margin-top: 20px;
}

#submitBio {
	display: none;
}

#submitBio:hover {
	background-position: left;
	text-decoration: none;
	cursor: pointer;
}

#tutorsubjects {
	padding: 20px 0px;
}

#tutorsubjects p {
	font-size: 20px;
	margin: -20px 0px 20px 0px;
}

#tutorsubjects .label {
	font-size: 20px;
	margin: 3px;
	line-height: 50px;
}

#tutormysessionsbody, #tutorpastsessionsbody {
	padding: 20px 0px 30px 0px;
	max-height: 500px;
	width: 100%;
	margin-bottom: 20px;
	overflow: auto;
}

.tutorreq {
	padding: 30px 4%;
	border-radius: 20px;
	margin: 0px 5% 20px 5%;
	background-color: white;
	box-shadow: 5px 5px 20px #666;
	transition-duration: 0.2s;
}

.tutorreq h2 {
	font-size: 30px;
}

.tutorreq h4 {
	font-size: 22px;
}

.tutorreq:hover {
	background-color: #ddd;
	cursor: pointer;
	box-shadow: 10px 10px 40px #444;
}

#tutormysessionsbody .tutorreq:hover {
	box-shadow: 0;
	background-color: white;
}

#tutorpastsessionsbody .tutorreq:hover {
	box-shadow: 0;
	background-color: lightblue;
}

#servicenav {
	background: linear-gradient(30deg, #30CFD0, #212333);
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 30px;
	color: white;
	z-index: 60;
	padding: 10px 20px;
	border-radius: 60px;
	transition-duration: 0.4s;
}

#servicenav:hover {
	top: -280px;
	right: -250px;
	padding: 280px;
	border-radius: 100%;
}

#servicenav:hover i {
	transition-duration: 0.3s;
}

#servicenav:hover i {
	opacity: 0;
}

#servicenav button:hover {
	transform: scale(1.1);
}

#booknav, #questionnav, #sessionsnav, #servicelogout {
	position: fixed;
	z-index: 0;
	color: white;
	background-color: transparent;
	border: 0;
	font-size: 25px;
	top: -100px;
	opacity: 0;
	right: -50px;
	transition-duration: 0.4s;
}

#servicenav:hover #booknav {
	right: 90px;
	top: 25px;
	opacity: 1;
	z-index: 99;
}

#servicenav:hover #questionnav {
	right: 80px;
	top: 90px;
	opacity: 1;
	z-index: 99;
}

#servicenav:hover #sessionsnav {
	right: 60px;
	top: 155px;
	opacity: 1;
	z-index: 99;
}

#servicenav:hover #servicelogout {
	right: 35px;
	top: 210px;
	opacity: 1;
	z-index: 99;
}

#tutornav {
	background: linear-gradient(30deg, #30CFD0, #212333);
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 30px;
	color: white;
	z-index: 60;
	padding: 10px 20px;
	border-radius: 60px;
	transition-duration: 0.4s;
}

#tutornav:hover {
	top: -280px;
	right: -250px;
	padding: 280px;
	border-radius: 100%;
}

#tutornav:hover i {
	transition-duration: 0.3s;
}

#tutornav:hover i {
	opacity: 0;
}

#tutornav button:hover {
	transform: scale(1.1);
}

#tutorbooknav, #tutorquestionsnav, #tutorsessionsnav, #tutorlogout {
	position: fixed;
	z-index: 0;
	color: white;
	background-color: transparent;
	border: 0;
	font-size: 25px;
	top: -100px;
	opacity: 0;
	right: -50px;
	transition-duration: 0.4s;
}

#tutornav:hover #tutorbooknav {
	right: 120px;
	top: 25px;
	opacity: 1;
	z-index: 99;
}

#tutornav:hover #tutorquestionsnav {
	right: 100px;
	top: 90px;
	opacity: 1;
	z-index: 99;
}

#tutornav:hover #tutorsessionsnav {
	right: 70px;
	top: 155px;
	opacity: 1;
	z-index: 99;
}

#tutornav:hover #tutorlogout {
	right: 40px;
	top: 210px;
	opacity: 1;
	z-index: 99;
}

#sessionstab, #questiontab {
	display: none;
}

#questionheader {
	padding: 130px 10% 80px 10%;
	background: linear-gradient(45deg, #212664, black);
	text-align: center;
	color: white;
}

#questionheader h1 {
	font-size: 60px;
}

#questionheader h3 {
	font-size: 30px;
}

#questionbody {
	margin: -60px 10% 0px 10%;
	padding: 50px 5%;
	background-color: white;
	border-radius: 20px 20px 0px 0px;
}

#questionbody h3 {
	font-size: 30px;
}

#questionbody p {
	font-size: 20px;
	color: #666;
	padding: 10px 0px;
}

#question {
	border: 1px solid #ccc;
	margin: 10px 0px;
	height: 200px;
	width: 90%;
	outline: 0;
}

#questionemail {
	transform: scale(0);
	height: 0;
}

.tutorquestion textarea {
	width: 100%;
	margin: 10px 0px;
	border: 1px solid #ccc;
	outline: 0;
	height: 40px;
	transition-duration: 0.2s;
	font-size: 18px;
}

.tutorquestion textarea:focus {
	border: 1px solid #30CFD0;
	height: 120px;
}

.answerquestion {
	border: 1px solid #444;
	color: #444;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 20px;
	background-color: transparent;
	transition-duration: 0.2s;
}

.answerquestion:hover {
	color: white;
	background-color: #444;
}

#question:focus {
	outline: 1px solid #30CFD0;
}

.tuteequestion, .tutorquestion {
	border-radius: 30px;
	padding: 30px;
	background-color: #eee;
	margin: 30px 0px;
}

.tuteequestion h4, .tutorquestion h4 {
	font-size: 22px;
}

#questionerrors {
	font-size: 18px;
	padding: 10px 0px;
}

#submitquestion {
	background: linear-gradient(to right, #30CFD0, #212664);
	background-size: 200% 100%;
	background-position: left;
	border-radius: 30px;
	padding: 15px 40px;
	color: white;
	font-size: 24px;
	transition-duration: 0.2s;
}

#submitquestion:hover {
	background-position: right;
}

#myquestions {
	padding: 40px 0px;
}

#sessionsheader {
	text-align: center;
	padding: 130px 10% 100px 10%;
	background-color: #212664;
	color: white;
}

#sessionsheader h1 {
	font-size: 60px;
}

#sessionsheader h3 {
	font-size: 30px;
}

#account {
	padding: 40px 3% 70px 3%;
	margin: -70px 9% 0px 9%;
	background-color: white;
	border-radius: 20px 20px 0px 0px;
}

#account h3 {
	font-size: 30px;
	color: #444;
	padding-bottom: 20px;
}

#addsubject, #matchtutors, #submitBio {
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	transition-duration: 0.2s;
	text-align: center;
	border-radius: 30px;
	padding: 13px 40px;
	font-size: 22px;
	color: white;
	font-weight: 500;
}

#tuteeaddsubjects p {
	font-size: 16px;
	color: #330867;
	margin-top: -10px;
}

#newsubject {
	display: inline;
	width: 50%;
	float: left;
	font-size: 20px;
	margin-top: 28px;
	border: 0;
	border-bottom: 1px solid #ccc;
	transition-duration: 0.1s;
	outline: 0;
}

#newsubject:focus {
	border-bottom: 3px solid #30CFD0;
}

#tuteeaddsubjects button {
	margin-left: 5px;
	font-size: 20px;
}

#tuteeaddsubjects .dropdown {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

#tuteeaddsubjects .dropdown-menu {
	width: 90%;
}

#tuteeaddsubjects .dropdown-item {
	display: block;
	width: 100%;
	color: #444;
	padding: 4px 5px;
	font-size: 18px;
	transition-duration: 0.2s;
}

#tuteeaddsubjects .dropdown-item:hover {
	background-color: #ddd;
	cursor: pointer;
	text-decoration: none;
}

#tuteeaddsubjects .row {
	display: block;
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 0px;
}

#addsubject {
	margin-bottom: 30px;
}

#addsubject:hover {
	text-decoration: none;
	cursor: pointer;
	background-position: left;
}

#subjectmessage {
	font-size: 20px;
	margin-bottom: 20px;
}

#tuteemysubjects {
	margin-top: 30px;
	float: left;
	width: 100%;
	position: relative;
}

#tuteemysubjects h3 {
	margin-bottom: 0px;
}

#subjectdelete {
	position: absolute;
	right: 12%;
	top: 20px;
	padding: 5px 15px;
	font-size: 19px;
	text-align: center;
	border-radius: 20px;
	color: #f25549;
	transition-duration: 0.2s;
}

#subjectdelete:hover {
	color: white;
	background-color: #f25549;
	cursor: pointer;
	text-decoration: none;
}

#mysubjectsarea .label {
	font-size: 20px;
	margin: 3px;
	line-height: 50px;
}

#matchtutors {
	float: left;
	margin: 20px 0px;
}

#matchtutors:hover {
	text-decoration: none;
	cursor: pointer;
	background-position: left;
}

#mytutorsarea {
	max-height: 600px;
	overflow-y: scroll;
	width: 100%;
}

#mytutorsarea p {
	font-size: 19px;
	float: left;
	margin: 15px 0px;
}

.mytutor {
	margin: 10px 0px;
	float: left;
	padding: 20px 3%;
}

.great {
	border-left: 6px solid #24dc63;
}

.good {
	border-left: 3px solid #30CFD0;
}

.mytutor h2 {
	font-size: 28px;
}

.mytutor h4 {
	font-size: 23px;
	color: #555;
}

.mytutor a:hover {
	text-decoration: none;
}

#sessionsbody, #pastsessionsbody {
	padding: 10px 0px 30px 0px;
	max-height: 500px;
	width: 100%;
	overflow: auto;
}

#sessionsbody {
	background-color: white;
	max-height: 600px;
	overflow: auto;
}

#tuteesessionssec h3 {
	float: left;
}

#sessionscount, #tutorsessionscount {
	display: inline;
	margin-top: 10px;
	padding: 7px 20px 12px 20px; 
	font-size: 23px;
	float: right;
	color: white;
	background-color: #212664;
	border-radius: 100%;
	font-weight: 700;
}

.req {
	padding: 20px 4%;
	margin: 0px 4% 20px 4%;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #666;
	position: relative;
}

.req h2 {
	font-size: 30px;
}

.req h4 {
	font-size: 24px;
}

.cancel, .star {
	color: #333;
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 20px;
}

.star:hover {
	color: gold;
	cursor: pointer;
}

.cancel:hover {
	color: #c90000;
	cursor: pointer;
}

.green {
	background-color: lightgreen;
}

.lightblue {
	background-color: lightblue;
}

.green .cancel {
	display: none;
}

#stars {
	position: fixed;
	z-index: 99;
	top: 15%;
	left: 0;
	right: 0;
	margin: 0px auto;
	background-color: white;
	padding: 70px 70px 90px 70px;
	width: 50%;
	display: none;
	border-radius: 30px;
}

#starsmask {
	background-color: #222;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.8;
	z-index: 95;
	position: fixed;
	display: none;
}

#stars h3 {
	font-size: 30px;
	color: #444;
	padding-bottom: 15px;
}

#stars .fas {
	font-size: 30px;
	margin: 0px 5px;
	color: #444;
}

#stars .fas:hover {
	cursor: pointer;
}

#email_div {
	width: 35%;
  	margin: 0px auto;
  	margin-top: 120px;
  	padding: 20px;
  	display: none;
}

#email_div h3 {
	font-size: 35px;
	padding: 10px 0px;
	text-align: center;
}

#email_div a {
	font-size: 22px;
	padding: 15px 0px;
	display: block;
	margin: 20px auto;
	color: white;
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	transition-duration: 0.2s;
	text-align: center;
	border-radius: 30px;
}

#email_div a:hover {
	background-position: left;
	text-decoration: none;
	cursor: pointer;
}

#reset_div {
	width: 25%;
  	margin: 0px auto;
  	margin-top: 150px;
  	padding: 20px;
  	display: none;
}

#reset_div h3 {
	font-size: 34px;
	padding-bottom: 20px;
}

#reset_div input {
  display: block;
  font-size: 22px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #777;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition-duration: 0.2s;
}

#reset_div input:focus {
  border-bottom: 3px solid #30CFD0;
}

#reset_div a {
	font-size: 22px;
	padding: 12px 0px;
	display: block;
	margin: 20px auto;
	color: white;
	background: linear-gradient(to right, #330867, #30CFD0);
	background-size: 200% 100%;
	background-position: right;
	transition-duration: 0.2s;
	text-align: center;
	border-radius: 30px;
}

#reset_div a:hover {
	background-position: left;
	text-decoration: none;
	cursor: pointer;
}


.slideanim {visibility:hidden;}

.slideanim2 {visibility:hidden;}

.slideanim3 {visibility:hidden;}

  .slideup {
      animation-name: slideup;
      -webkit-animation-name: slideup;
      animation-duration: 1.2s;
      -webkit-animation-duration: 1.2s;
      visibility: visible;
  }

  .slideleft {
      animation-name: slideleft;
      -webkit-animation-name: slideleft;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .slideright {
      animation-name: slideright;
      -webkit-animation-name: slideright;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .fader {
      animation-name: fader;
      -webkit-animation-name: fader;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .lengthen {
  		animation-name: lengthen;
      -webkit-animation-name: lengthen;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
      width: 10%;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(10%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @keyframes slideleft {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    } 
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slideright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes fader {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fader {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }

  @keyframes lengthen {
    0% {
      width: 0;
    } 
    100% {
     	width: 10%;
    }
  }
  @-webkit-keyframes lengthen {
    0% {
      width: 0;
    } 
    100% {
      width: 10%;
    }
  }


@media only screen and (max-width: 768px) {
	#navbar {
		padding: 0px 0px;
		width: 0;
	}

	#home img {
	  width: 70px;
	}

	.navig {
		display: none;
	}

	#container1 {
	    display: block;
	    position: fixed;
	    right: 5%;
	    top: 5px;
	    border-radius: 100%;
	    background-color: white;
	    z-index: 99;
	    padding: 13px 11px;
	    transition-duration: 0.2s;
	  }

	#container1:hover {
	    cursor: pointer;
	  }

	  #container1:hover .bar1 {
	  	background: #30CFD0;
	  }

	  #container1:hover .bar2 {
	  	background: #30CFD0;
	  }

	.bar1, .bar2 {
	    width: 40px;
	    height: 3px;
	    margin: 10px 0px;
	    background: #330867;
	    transition-duration: 0.2s;
	  }

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-5px, 7px);
	    transform: rotate(-45deg) translate(-5px, 7px);
	  }

	.change .bar2 {
	    -webkit-transform: rotate(45deg) translate(-2px, -4px);
	    transform: rotate(45deg) translate(-2px, -4px);
	  }

	#phonenavlinks {
	    background-color: white;
	    padding: 20px 10px 30px 10px;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 88;
	    display: none;
	  }

	.navig2 {
	    list-style-type: none;
	    padding: 10px 0px;
	    text-align: center;
	  }

	.navig2 a {
		color: #330867;
		font-size: 18px;
		text-decoration: none;
		transition-duration: 0.2s;
		}

	.navig2 a:hover {
			color: #30CFD0;
		}

	#indexlogout {
			transform: scale(0);
		}

	#faqnav2:hover {
		cursor: pointer;
	}

	#contactnav2:hover {
		cursor: pointer;
	}

	#indexhead {
		padding: 70px 10% 100px 10%;
	}

	#indexhead h1 {
		font-size: 35px;
		margin-bottom: 25px;
	}

	#indexhead h1 strong {
		font-size: 40px;
	}

	#indexhead p {
		font-size: 18px;
	}

	#indexhead a {
		padding: 12px 30px;
		font-size: 20px;
	}

	#info {
		padding: 530px 10% 210px 10%;
		color: white;
	  	position: relative;
	  	z-index: 2;
	}

	#info h1 {
		font-size: 30px;
	}

	#infotext {
		top: 80px;
	}

	#infotext h1 {
		width: 100%;
	}

	#infotext p {
		padding: 10px 0px;
		font-size: 17px;
	}

	#infotext .row {
		padding: 10px 0px;
	}

	#infotext .col-sm-6 {
		padding: 20px 0px;
	}

	#infotext a {
		font-size: 18px;
		padding: 10px 16px;
		margin: 20px 0px;
	}

	#contact {
		padding: 80px 10% 40px 10%;
	}

	#contact h1 {
		font-size: 34px;
		padding: 10px 0px;
	}

	#contact h4 {
		font-size: 20px;
		padding: 15px 0px;
	}

	#contact h3 {
		font-size: 23px;
	}

	#contactForm {
		font-size: 18px;
	}

	#contact .row {
		padding: 10px 0px 10px 0px;
	}

	#contact #submit {
		margin: 30px 0px;
		width: 100%;
	}

	#submitapp {
		margin: 0px 0px;
		width: 80%;
		font-size: 18px;
	}

	#faq {
		padding: 70px 10%;
		-webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
	  	clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
	}

	#faq h1 {
		font-size: 32px;
	}

	.faqsec {
		padding: 10px 0px;
	}

	.question {
		font-size: 20px;
	}

	.answer {
		font-size: 18px;
		padding-left: 30px;
	}

	.main-div, .create-div {
	  	width: 87%;
	}

	.main-div {
		margin-top: 100px;
	}

	.main-div h3, .create-div h3 {
		font-size: 28px;
	}

	.main-div h4 {
		font-size: 18px;
		line-height: 30px;
		padding: 0;
	}

	#terms {
		margin: 0px 0px;
		padding: 70px 8%;
		border-radius: 0px;
	}

	#terms h4 {
		font-size: 28px;
	}

	#terms p {
		font-size: 16px;
		line-height: 25px;
	}

	.main-div input, .create-div input {
	  font-size: 18px;
	}

	#errormessage, #errormessage2, #formStatus {
		font-size: 18px;
	}

	.main-div a {
		font-size: 18px;
	}

	#login, #create {
	  padding: 10px;
	  font-size: 20px;
	  margin: 0;
	}

	#email_div {
		width: 84%;
	  	margin-top: 100px;
	}

	#email_div h3 {
		font-size: 20px;
	}

	#email_div a {
		font-size: 20px;
		padding: 10px 0px;
		margin: 10px auto;
	}

	#reset_div {
		width: 80%;
	  	margin: 0px auto;
	  	margin-top: 120px;
	  	padding: 20px;
	}

	#reset_div h3 {
		font-size: 28px;
		padding-bottom: 15px;
	}

	#reset_div input {
	  font-size: 18px;
	  padding: 5px;
	}

	#reset_div a {
		font-size: 20px;
		padding: 10px 0px;
		margin: 10px auto;
	}

	#bookheader {
		padding: 100px 8% 70px 8%;
	}

	#bookheader h1 {
		font-size: 38px;
	}

	#bookheader h3 {
		font-size: 24px;
	}	

	#logout {
		background-color: #ae3dc6;
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 0px 0px 0px 20px;
	}

	#servicenav, #tutornav {
		background: #eee;
		bottom: 0;
		top: 80%;
		border-radius: 0;
		width: 100%;
		right: 0;
		left: 0;
	}

	#servicenav i, #tutornav i {
		display: none;
	}

	#servicenav:hover {
		background: #eee;
		bottom: 0;
		border-radius: 0;
		width: 100%;
		right: 0;
		left: 0;
		top: 80%;
		padding: 0;
	}

	#tutornav:hover {
		background: #eee;
		bottom: 0;
		border-radius: 0;
		width: 100%;
		right: 0;
		left: 0;
		top: 80%;
		padding: 0;
	}

	#booknav, #questionnav, #sessionsnav, #servicelogout, #tutorbooknav, #tutorquestionsnav, #tutorsessionsnav, #tutorlogout {
		position: fixed;
		color: #333;
		font-size: 18px;
		width: 50%;
		right: 0;
		float: left;
		bottom: 0;
		left: 0;
		padding: 0;
		z-index: 99;
		opacity: 1;
	}

	#booknav, #questionnav, #tutorbooknav, #tutorquestionsnav {
		top: 75%;
	}

	#questionnav, #servicelogout, #tutorquestionsnav, #tutorlogout {
		left: 50%;
	}

	#sessionsnav, #servicelogout, #tutorlogout, #tutorsessionsnav {
		top: 90%;
	}

	#servicenav:hover #booknav {
		top: 75%;
	}

	#servicenav:hover #questionnav {
		top: 75%;
		left: 50%;
	}

	#servicenav:hover #sessionsnav {
		top: 90%;
	}

	#servicenav:hover #servicelogout {
		top: 90%;
		left: 50%;
	}

	#tutornav:hover #tutorbooknav {
		top: 75%;
	}

	#tutornav:hover #tutorquestionsnav {
		top: 75%;
		left: 50%;
	}

	#tutornav:hover #tutorsessionsnav {
		top: 90%;
	}

	#tutornav:hover #tutorlogout {
		top: 90%;
		left: 50%;
	}

	#bookform {
		margin: -60px 6% 20px 6%;
		background-color: white;
		padding: 30px 7%;
		border-radius: 20px;
	}

	#bookform .row {
		padding-bottom: 20px;
	}

	#bookform .col-sm-3 {
		font-size: 18px;
	}

	#bookform .col-sm-9 input {
		font-size: 17px;
	}

	#submit {
		padding: 13px 60px;
		font-size: 20px;
		margin: 0px auto 30px auto;
		width: 100%;
	}

	#sessionsheader {
		padding: 100px 8% 70px 8%;
	}

	#sessionsheader h1 {
		font-size: 38px;
	}

	#sessionsheader h3 {
		font-size: 20px;
	}

	#sessionsbody {
		float: left;
		margin: 0px;
		background-color: white;
	}

	.req {
		padding: 30px 7%;
	}

	.req h2 {
		font-size: 27px;
	}

	.req h4 {
		font-size: 20px;
	}

	.cancel {
		font-size: 20px;
		right: 15px;
	}

	#confirmedbody {
		padding: 90px 8%;
	}

	#confirmedbody h1 {
		font-size: 30px;
	}

	#confirmedbody h3 {
		font-size: 18px;
	}

	#confirmedbody a {
		padding: 13px 30px;
		font-size: 20px;
		margin: 20px 0px;
	}

	#tutorsessionshead {
		padding: 100px 8% 70px 8%;
	}

	#tutorsessionshead h1 {
		font-size: 38px;
	}

	#tutorsessionsbody {
		padding: 0px 7% 50px 7%;
		margin-top: -50px;
	}

	#tutormysessions h1 {
		background-color: #212664;
		padding: 100px 7% 70px 7%;
		font-size: 38px;
	}

	#tutormysessionsbody, #tutorpastsessionsbody {
		margin-top: 0px;
		padding: 0px 7% 50px 7%;
	}

	.tutorreq {
		padding: 30px 7%;
		margin: 0px 0px 20px 0px;
	}

	.tutorreq h2 {
		font-size: 22px;
	}

	.tutorreq h4 {
		font-size: 18px;
	}

	#teamnavbar {
		display: none;
	}

	#tutorapply {
		font-size: 18px;
		top: 0;
		right: 0;
		padding: 10px 20px;
		border-radius: 0px 0px 0px 20px;
	}

	#teamhead {
		padding: 100px 10% 90px 10%;
	}

	#teamhead h1 {
		font-size: 38px;
	}

	#teamhead p {
		font-size: 23px;
	}

	#software, #marketing {
		margin: 20px 8% 20px 8%;
		padding: 30px 2%;
	}

	#software h4, #marketing h4 {
		font-size: 30px;
		text-align: center;
	}

	#software .border-bot, #marketing .border-bot {
		margin: 0px auto 20px auto;
	}

	#software .row, #marketing .row {
		padding: 0px 0px;
	}

	.leader h3, .tutor h3 {
		font-size: 25px;
	}

	.leader h5 {
		font-size: 18px;
	}

	#tutors {
		padding: 30px 6%;
	}

	.leader {
		padding: 20px 0px;
	}

	.col4 {
		width: 100%;
		padding: 10px 0%;
		height: 440px;
	}

	.tutor {
		text-align: center;
	}

	.label {
		border-radius: 20px;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 38px;
	}

	#filter .dropdown-menu {
		margin-left: 0px;
	}

	#bookform .col-sm-9 #subject {
		width: 90%;
		float: left;
	}

	#bookform .col-sm-9 #subjectclear {
		width: 10%;
		float: left;
	}

	.col-sm-9 .dropdown {
		float: left;
		width: 50%;
		margin-top: 20px;
	}

	#subjectselector2 {
		width: 100%;
		text-align: center;
		font-size: 18px;
		margin-top: -5px;
	}


	#sessionsheader h3 {
		font-size: 24px;
	}

	#account {
		padding: 20px 5%;
		margin: -60px 6% 50px 6%;
	}

	#account h3 {
		font-size: 24px;
	}

	#resetPass2, #addsubject, #matchtutors {
		padding: 10px 20px;
		font-size: 18px;
		color: white;
	}

	#newsubject {
		margin-top: 28px;
		width: 45%;
		font-size: 18px;
	}

	#tuteeaddsubjects .dropdown-menu {
		width: 100%;
	}

	#tuteeaddsubjects .dropdown-item {
		padding: 3px 5px;
		font-size: 16px;
	}

	#addsubject {
		margin-bottom: 20px;
	}

	#subjectmessage {
		font-size: 16px;
	}

	#subjectdelete {
		display: none;
	}

	#mysubjectsarea .label {
		font-size: 16px;
		line-height: 45px;
	}

	#matchtutors {
		margin: 10px 0px;
	}

	#mytutorsarea p {
		font-size: 16px;
	}

	.mytutor h2 {
		font-size: 24px;
	}

	.mytutor h4 {
		font-size: 17px;
		color: #555;
	}

	.mytutor a:hover {
		text-decoration: none;
	}

	#sessionsbody h3 {
		font-size: 24px;
	}

	#sessionsbody {
		background-color: white;
		max-height: 30000px;
		overflow: auto;
	}

	#menubar {
		display: none;
	}

	#footer {
		width: 100%;
		padding: 20px 8%; 
		background-color: black;
	}

	#footer img {
		width: 50%;
		margin-top: 20px;
	}

	#footer h3 {
		font-size: 20px;
	}

	#footer img {
		display: none;
	}

	#footer a {
		font-size: 16px;
	}

	#footer a:hover {
		cursor: pointer;
	}

	#leadershead {
		padding: 80px 10% 60px 10%;
	}

	#leadershead h1 {
		font-size: 36px;
	}

	#leadershead h3 {
		font-size: 24px;
	}

	#leadersbody {
		background-color: #ddd;
		padding-top: 50px;
	}

	#software {
		border-radius: 20px;
		margin-top: -100px;
	}

	#marketing {
		border-radius: 20px 20px 0px 0px;
	}

	.leader img {
		width: 80%;
	}

	#howitworks ol {
		padding: 15px 4%;
	}

	#howitworks li {
		font-size: 17px;
		padding: 10px 0px;
	}

	#howitworks h1 {
		font-size: 32px;
	}

	#howitworks #getstarted {
		padding: 10px 25px;
		font-size: 20px;
	}

	canvas {
		transform: scale(0);
		display: none;
	}

	#tutoraccount {
		padding: 20px 3% 40px 3%;
	}

	#tutoraccount h3 {
		font-size: 24px;
	}

	#tutoruser {
		font-size: 18px;
	}

	#tutorrating {
		font-size: 20px;
	}

	#tutorsubjects p {
		font-size: 16px;
	}

	#tutorsubjects .label {
		font-size: 16px;
		line-height: 45px;
	}

	#stars {
		top: 5%;
		width: 80%;
	}

	#stars h3 {
		font-size: 20px;
	}

	#biopopup {
		position: fixed;
		z-index: 99;
		top: 5%;
		padding: 30px 4% 50px 4%;
		width: 92%;
		overflow-y: auto;
	}

	#bioname {
		font-size: 28px;
	}

	#biosubjects {
		font-size: 20px;
	}

	#biobio {
		font-size: 15px;
	}

	#howitworks iframe, #howitworks #tutorialvideo {
		height: 250px;
	}

	#abouthead {
		padding: 60px 8% 80px 8%;
	}

	#aboutheadimg {
		background: linear-gradient(to right, black, #212664);
		-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 94%);
		clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 94%);
		opacity: 0.94;
	}

	#abouthead h3 {
		font-size: 18px;
		color: #c9feff;
	}

	#abouthead h1 {
		font-size: 32px;
		color: white;
	}

	#abouthead h1 strong {
		color: #c9feff;
	}

	#aboutbody {
		margin-top: 380px;
	}

	#aboutbody h4 {
		font-size: 28px;
	}

	#aboutbody p {
		font-size: 16px;
		padding: 25px 0px;
		line-height: 34px;
	}

	#aboutbody .row {
		padding-top: 20px;
	}

	#aboutbody .col-sm-3 .fas {
		display: none;
	}

	#aboutbody .col-sm-9 .fas {
		font-size: 100px;
		color: #30CFD0;
		text-align: center;
		margin: 20px auto;
		display: block;
	}

	#applyhead {
		padding: 80px 8% 60px 8%;
	}

	#applyhead h1 {
		font-size: 30px;
	}

	#applyhead h3 {
		font-size: 20px;
		line-height: 35px;
	}

	#applyform {
		margin: -50px 6% 0px 6%;
		padding: 10px 8% 60px 8%;
	}

	#applyform h3 {
		font-size: 22px;
	}

	#applyform .row {
		padding: 10px 0px;
		margin-left: 0%;
		font-size: 18px;
	}

	#applyform .row input {
		width: 100%;
	}

	#applyform .row #applysubjects {
		width: 90%;
		margin-right: 0%;
	}

	#applyform .dropdown {
		float: left;
		display: inline;
		margin-left: 0%;
		width: 50%;
		margin-top: 10px;
	}

	#applysubjectmenu .dropdown-item {
		font-size: 16px;
	}

	#applyform textarea {
		width: 100%;
	}

	#applyerrors {
		font-size: 16px;
	}

	#fberrordiv {
		margin: 100px 8%;
	}

	#fberrordiv h3 {
		font-size: 25px;
	}

	#fberrordiv p {
		color: red;
		font-size: 17px;
	}

	#fberrordiv #tryagain {
		padding: 10px 30px;
		font-size: 20px;
	}

	#donateform a {
		margin: 30px 0px;
	}

	#paypal, #gofundme {
		padding: 10px 20px;
		transition-duration: 0.2s;
	}

	#paypal:hover {
		background-color: #eda63c;
	}

	#paypal {
		background-color: gold;
	}

	#gofundme:hover {
		background-color: #ccc;
	}

	#gofundme {
		background-color: #eee;
	}

	#paypal img, #gofundme img {
		width: 70px;
	}

	#donatebody {
		background-size: 250%;
	}

	#questionheader {
		padding: 100px 8% 70px 8%;
	}

	#questionheader h1 {
		font-size: 40px;
	}

	#questionheader h3 {
		font-size: 24px;
	}

	#questionbody {
		margin: -50px 5% 0px 5%;
		padding: 30px 5%;
	}

	#questionbody h3 {
		font-size: 24px;
	}

	#question {
		width: 100%;
	}

	.tuteequestion h4 {
		font-size: 18px;
	}

	#questionerrors {
		font-size: 16px;
	}

	#submitquestion {
		padding: 15px 20px;
		font-size: 20px;
	}

}


